
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #04063c;

}

p {
    color: #555;

}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;


}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;



}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #04063c;
    color: rgb(255, 255, 255);
    padding: 1px 25px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: rgb(62, 62, 124);
}


.header {
    background: #ccccfc;

}

.header .row {
    margin-top: -10px;
}

.categories {
    margin: 70px 0;
}

.rad-1 {
    align-items: center;  
    padding: 0;  
    margin-left: 55px;
}

.rad-1 ul li {
    display: inline-block;
    margin-right: 189px;
    line-height: 60px;
}

.nbflte {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
    margin: 50px;
}


.rad-b {
    align-items: center;
    margin-left: 30px;
}

.rad-b ul li {
    display: inline-block;
    margin-right: 90px;
    line-height: 60px;
    margin-top: 0px;
}

.rad-b ul li  {
    margin-top: -40px;
    font-size: 30px;
}

.rad-b ul li:hover  {
    transform: translateY(-8px);
}

.knapper ul li {
    display: inline-block;
    margin-right: 143px;
    line-height: 60px;
    margin-top: -40px;
    color: rgb(219, 24, 24);
}

.knapper {
    align-items: center;
    margin-left: 50px;
}

.drikke {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;    
    margin: 50px;
}

.rad-c {
    align-items: center;
    margin-left: 30px;
}

.rad-c ul li {
    display: inline-block;
    margin-right: 90px;
    line-height: 60px;
    margin-top: 0px;
}

.rad-c ul li  {
    margin-top: -40px;
    font-size: 30px;
}

.rad-c ul li:hover  {
    transform: translateY(-8px);
}



.rad-2 {
    align-items: center;  
    padding: 0;  
    margin-left: 45px;
    font-size: 15px;
}

.rad-2 ul li {
    display: inline-block;
    margin-right: 110px;
    line-height: 60px;
}

.knapper-2 ul li {
    display: inline-block;
    margin-right: 140px;
    line-height: 60px;
    margin-top: -40px;
}

.knapper-2 {
    align-items: center;
    margin-left: 60px;

}

.altsammen {
    margin-left: 190px;
}












.rad-d {
    align-items: center;
    margin-left: 30px;
}

.rad-d ul li {
    display: inline-block;
    margin-right: 90px;
    line-height: 60px;
    margin-top: 0px;
}

.rad-d ul li  {
    margin-top: -40px;
    font-size: 30px;
}

.rad-d ul li:hover  {
    transform: translateY(-8px);
}



.rad-3 {
    align-items: center;  
    padding: 0;  
    margin-left: 35px;
    font-size: 15px;
}

.rad-3 ul li {
    display: inline-block;
    margin-right: 130px;
    line-height: 60px;
}

.knapper-3 ul li {
    display: inline-block;
    margin-right: 140px;
    line-height: 60px;
    margin-top: -40px;
}

.knapper-3 {
    align-items: center;
    margin-left: 50px;
}



.pris-1 {
    align-items: center;  
    padding: 0;  
    margin-left: 35px;
    font-size: 15px;
    margin: 0cm;
}

.pris-1 ul li {
    display: inline-block;
    margin-right: 130px;
    line-height: 60px;
    margin-bottom: -6cm;

}

.pris-1 ul li {
    display: inline-block;
    margin-right: 202px;
    line-height: 60px;
    margin-top: -40px;
    margin-bottom: -6cm;

}

.pris-1 {
    align-items: center;
    margin-left: 80px;
    margin-bottom: -20px;

}


.prodo {
    color: rgb(23, 53, 73);
}

.prodo:hover {
    color: #293985;
    text-decoration: underline;

}

.høme:hover {
    color: #293985;
    text-decoration: underline;

}

.about:hover {
    color: #293985;
    text-decoration: underline;


}